
	<div id="wrapper">

		<!-- header -->
	
		<header>
			<app-main-nav-bar></app-main-nav-bar>
		</header>
	
		<section id="featured">

			<!-- main-slider -->
			<app-main-slider></app-main-slider>

		</section>
		<div class="content_white">
			<h2>Welcome to our Company Website!</h2>
			<p>Lorem ipsum dolor sit amet, unde omnis iste natus tote natus error sit voluptatem accusanti quas potenti
				maltam rem aperiam, eaque ipsa quae ab illitecto <br />beatae vitae dicemo enim ipsam voluptatem quia
				voluptas sit aspernatur.</p>
		</div>


		<div class="featured_content">
			<div class="container">
				<div class="row text-center">


					<!-- categories -->
					<app-category></app-category>

				</div>
			</div>
		</div>

		<footer>
			<app-footer></app-footer>
		</footer>
	</div>
	<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>

