<div class="col-md-3 feature_grid1"> 
    <i class="fa fa-trophy fa-3x"></i>
    <h3><a href="#">Legimusinm</a></h3>
    <p>Lorem ipsum dolor sit amet, unde omnis iste natus error sit voluptatem accusanti quas potenti
        malesuada vel phasellus.</p>
    <a href="#" class="feature_btn">More</a>
</div>
<div class="col-md-3 feature_grid1"> 
    <i class="fa fa-picture-o fa-3x"></i>
    <h3><a href="#">Serspiciatis</a></h3>
    <p>Lorem ipsum dolor sit amet, unde omnis iste natus error sit voluptatem accusanti quas potenti
        malesuada vel phasellus.</p>
    <a href="#" class="feature_btn">More</a>
</div>
<div class="col-md-3 feature_grid1">
     <i class="fa fa-flask fa-3x"></i>
    <h3><a href="#">Quisqugesta</a></h3>
    <p>Lorem ipsum dolor sit amet, unde omnis iste natus error sit voluptatem accusanti quas potenti
        malesuada vel phasellus.</p>
    <a href="#" class="feature_btn">More</a>
</div>
<div class="col-md-3 feature_grid1">
     <i class="fa fa-user fa-3x"></i>
    <h3><a href="#">Architecto</a></h3>
    <p>Lorem ipsum dolor sit amet, unde omnis iste natus error sit voluptatem accusanti quas potenti
        malesuada vel phasellus.</p>
    <a href="#" class="feature_btn">More</a>
</div>